.task/

.idea/

.env
node_modules
package-lock.json
bun.lockb
bun.lock
.vscode/
backend/.vscode/
**/.vscode/

.DS_STORE

.next/

backend/.env

backend/internal/supabase/.branches/
backend/internal/supabase/.temp/