services:
  web-frontend:
    build:
      context: ./frontend/web
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network
    container_name: web-frontend

  backend:
    build:
      context: ./backend
    ports:
      - "8080:8080"
      - "10000:10000"
    env_file:
      - ./backend/.env
    command: go run main.go
    develop:
      watch:
        - action: sync+restart
          path: ./backend
          target: /app
    networks:
      - app-network
    container_name: backend

networks:
  app-network:
    driver: bridge
