services:
  web-frontend:
    build:
      context: .  # repo root
      dockerfile: frontend/apps/web/Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network
    container_name: web-frontend
    labels:
      - "description=Frontend available at http://localhost"
  
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    ports:
      - "8080:8080"
      - "10000:10000"
    env_file:
      - .env
      - ./backend/.env
    command: go run main.go
    develop:
      watch:
        - action: sync+restart
          path: ./backend
          target: /app
    networks:
      - app-network
    container_name: backend
    labels:
      - "description=Backend available at http://localhost:8080"
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  app-network:
    driver: bridge