DB_USER="" 
DB_PASSWORD="" 
DB_HOST=""
DB_PORT=""
DB_NAME=""

PORT="8080"

SUPABASE_URL=""
SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""

AWS_SQS_QUEUE_URL=""
AWS_REGION=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_S3_BUCKET=""

# LocalStack (local AWS emulation via Docker)
# Set USE_LOCALSTACK=true and run: make up-localstack
# USE_LOCALSTACK=false
# LOCALSTACK_ENDPOINT=http://localstack:4566
# AWS_SQS_QUEUE_URL=http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/skillspark-notification-queue
# AWS_S3_BUCKET=skillspark-bucket
# AWS_REGION=us-east-1
# AWS_ACCESS_KEY_ID=test
# AWS_SECRET_ACCESS_KEY=test