DB_USER="" 
DB_PASSWORD="" 
DB_HOST=""
DB_PORT=""
DB_NAME=""

PORT="8080"

SUPABASE_URL=""
SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""

# Toggle: true = LocalStack, false = real AWS
USE_LOCALSTACK=true

# Real AWS
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SQS_QUEUE_URL=
AWS_S3_BUCKET=

# LocalStack - you can just copy/paste these in 
LOCALSTACK_ENDPOINT=http://localstack:4566
LOCALSTACK_REGION=us-east-1
LOCALSTACK_ACCESS_KEY_ID=test
LOCALSTACK_SECRET_ACCESS_KEY=test
LOCALSTACK_SQS_QUEUE_URL=http://localstack:4566/000000000000/skillspark-notification-queue
LOCALSTACK_S3_BUCKET=skillspark-bucket

OPENCAGE_API_KEY=""
OPENCAGE_MIN_CONFIDENCE="7"  # Addresses with confidence <= this value are rejected (range 0-10)
