name: frontend
on:
  pull_request:
    branches:
      - "main"
      - "featurethon"
jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      frontend: ${{ steps.filter.outputs.frontend }}
    steps:
      - uses: actions/checkout@v3
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            frontend:
              - 'frontend/**'
  lint:
    runs-on: ubuntu-latest
    needs: changes
    if: needs.changes.outputs.frontend == 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Use Bun
        uses: oven-sh/setup-bun@v1
      - name: Install dependencies
        working-directory: ./frontend
        run: bun install
      - name: Lint
        working-directory: ./frontend/apps/web
        run: bun run lint
  build:
    runs-on: ubuntu-latest
    needs: changes
    if: needs.changes.outputs.frontend == 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Use Bun
        uses: oven-sh/setup-bun@v1
      - name: Install dependencies
        working-directory: ./frontend
        run: bun install
      - name: Type check
        working-directory: ./frontend/apps/web
        run: bun run tsc --noEmit
      - name: Build
        working-directory: ./frontend/apps/web
        run: bun run build